extends layout

block content
  h1 Bienvenue sur Meuble Designer
  p Cette application vous permet de gérer vos conceptions de meubles et les matériaux utilisés.
    div
    canvas#material-chart
    canvas#furniture-design-chart

  extends layout