html
  head
    title Meuble Designer
  body
    header
      nav
        ul
          li
            a(href="/") Accueil
          li
            a(href="/conceptions") Conceptions
          li
            a(href="/matériaux") Matériaux
    main
      block content